[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
jinja2 = "*"
loguru = "*"
pydantic = "*"
fastapi = "*"
requests = "*"
sqlmodel = "*"
protobuf = "*"
llama_index = "*"
llama-index-vector-stores-milvus = "*"
llama-index-embeddings-voyageai = "*"



[dev-packages]

[requires]
python_version = "3.11"
